# Dependencies
/node_modules

# Build artifacts
/build
/dist
/out
.parcel-cache

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS-specific files
.DS_Store
.idea
*.iml
.vscode/
*.swp
*.swo

# Environment variables
*.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# Testing and coverage
coverage

# Optional caches
.npm
.eslintcache
.cache
.next/ # For Next.js projects